extends layout

block title
    title Books | HS Library
block content
    h1 All books
    if addedBook
        p.info #{addedBook} has been added to the Collection!
    if books
        each book in books
            li
                a(href='/books/#{book._id}') #{book.title}
                a(href='/books/edit/#{book._id}') [edit]
                a(href='/books/delete/#{book._id}') [delete]